<%= link_to(project_bug_path(bug.project_id, bug.id)) do %>
  <div class="media">
    <div class="media-left">
      <img src=<%= url_for(bug.screenshot) %> class="media-object" style="width:200px">
    </div>
    <div class="media-body">
      <h3 class="media-heading"><%= bug.title %></h3>
      <p><%= bug.description %></p>
    </div>
  </div>
<% end %>
