<div>
  <%= link_to new_project_bug_path(@project.id) do %>
    <button class = 'btn btn-primary' <%= 'disabled' unless current_user.qa? %> >Report Bug</button>
  <% end %>
  <%= render partial: 'bug', collection: @bugs, as: :bug if !@bugs.empty? %>
</div>
