/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';

body{
  max-width: 1500px;
}

.navbar {
  border-radius: 0;

  .navbar-header {
    display: flex;
    align-items: center;
    .navbar-toggle{
      margin-right: 10px;
      margin-left: auto;
    }
  }

  a {
    color: white !important;
    text-decoration: none;

    &:hover {
      color: rgba(255, 255, 255, 0.7) !important;
    }
  }
}

.d-flex-space-between {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: black;
  color: white;
  &:hover {
    color: rgba(255, 255, 255, 0.7) !important;
  }
}

.error-message {
  color: red;
  margin: 10px 0;
}

h2 {
  font-weight: bold;
}

.line {
  background-color: rgba(1, 1, 1, 0.2);
  height: 1px;
  margin: 5px 0 10px 0;
}

.mr-1 {
  margin-right: 5px;
}

.mb-2 {
  margin-bottom: 10px;
}

.mb-4 {
  margin-bottom: 40px;
}

.mt-3 {
  margin-top: 20px;
}

.pagination {
  display: block;
  text-align: center;
  a {
    margin: auto 10px;
  }
}

@media screen and (min-width: 992px) {
  form {
    width: 50%;
  }
}


.rem-form {
  width: 100%;
}

.d-flex-space-between-vertical-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa {
  margin-right: 3px;
}
