<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'project_users/user', locals: { project: project }, collection: users, as: :user %>
  </tbody>
</table>
