<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'project_users/user', locals: { project: locals[:project] }, collection: locals[:users], as: :user if !locals[:users].nil? %>
  </tbody>
</table>
