<tr>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= user.user_type.humanize %></td>
  <td><%= link_to 'Delete', project_remove_user_path(params[:id], user.id), method: :delete, data: { confirm: 'Are you sure?' } if policy(project).remove_user_access?(user) %></td>
</tr>
